<h1>USER PROFILE PAGE</h1>
<h2>UserID: {{UserId}}</h2>
<h2>Full Name: {{FirstName}} {{LastName}}</h2>
<h2>Email: {{Email}}</h2>
<h2>Username: {{Username}}</h2>
<h2>Password: {{Password}}</h2>
<h2>Admin User: {{AdminUser}}</h2>
<h2>CreationDate: {{CreationDate}}</h2>
<h2>UpdatedDate: {{UpdatedDate}}</h2>

</br>
<a href="/users">See User List</a>
</br>
</br>
<a href="/users/logout">Log out</a>